body {
    background: #159155;
}
header {
    padding: 20px 0;
}
header ul.menu {
    display: inline-flex;
}

header ul.menu li {
    padding: 10px 16px;
    display: inline-flex;
    color: #fff;
    cursor: pointer;
    font-family: Source Sans Pro;
    font-weight: normal;
}

header ul.menu li:hover {
    opacity: .7;
}

header ul.menu li.login {
    padding: 10px 10px;
    display: inline-flex;
    color: #fff;
    cursor: pointer;
    position: relative;
    margin-top: -13px;
}


header ul.menu li.login p.cad  {
    position: absolute;
    width: 100%;
    top: 16px;
    left: -24px;
    opacity: 0.7;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}
header ul.menu li.login p.login  {
    font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 18px;
    margin-left: 8px;
}
header button.compre {
    background: transparent;
    border: solid 4px #ffcb08;
    color: #fff;
    padding: 10px 15px;
}

header .logo {
    width: 200px;
}

